

.main-grid {
    display: grid;
    grid-template-areas: 
        'racer racer',
        'mod mod',
        'track track',
        'best best'
    ;
    justify-content: center;
    grid-gap: 10px;
}
#racer-profile {
    grid-area: racer;
}
#mod-list {
    grid-area: mod;
}
#track-list {
    grid-area: track;
}
#best-time {
    grid-area: best;
}
.grid {
    background-color: #4e4e4e;
    list-style: none;
    width: 15em;
    border-radius: 10px;
    height: 28em;
}
.prev-box {
    text-align: center;
}